In [ ]:
import pandas as pd

### Create DataFrame

Create dataframe with dicts.

But more common way to create dataframe is reading files like .csv, .xlsx. df = pd.read_csv('data.csv')

In [29]:
df = pd.DataFrame({
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/1/2017','1/2/2017','1/3/2017','1/4/2018','1/4/2018'],
    'city':['new york','new york','new york','new york','mumbai','mumbai','mumbai','mumbai','paris','paris','paris','paris','paris'],
    'temperature':[32,36,28,33,90,85,87,92,45,50,54,42,53],
    'windspeed':[6,7,12,7,5,12,15,5,20,13,8,10,12],
    'event':['rain','sunny','snow','sunny','sunny','fog','fog','rain','sunny','cloudy','cloudy','cloudy','sunny']
    })

### Basic informations about dataset

- <ins>info():</ins> The index dtype and columns, non-null values and memory usage about dataframe
- <ins>describe():</ins> Generate descriptive statistics.
- <ins>shape():</ins> Shape of dataframe.
- <ins>head(n):</ins> First n rows of dataframe(deafult 5)
- <ins>tail(n):</ins> Last n rows of dataframe(default 5)
- <ins>columns:</ins> Return array of column names

### Drop columns

In [ ]:
df.drop(columns=['windspeed','city']) # or df.drop(['windspeed','city'], axis=1)

### Drop rows

In [ ]:
df.drop(df.index[3:5]) # Drop third and fourth row

### Select data types

Returns a dataframe which have selected data type columns

In [ ]:
df.select_dtypes('int64')

### Insert a column to dataframe

In [ ]:
random_col = [1,2,3,4,5,6,7,8,9,10,11,12]
df.insert(3 ,'random column', random_col) # df.insert(position, name, data)

### Take sample from dataframe

It is usefull when the dataset is so big and time consuming

In [ ]:
sample1_df = df.sample(n=5) # taking 5 data points as sample
sample2_df = df.sample(frac=0.25) # taking %25 percent of dataframe as sample

### Rename column or columns

usefull when the dataset column names have blank between

In [ ]:
df.rename(columns={'day':'date','city':'province'})

### Replace values

In [ ]:
df['city'].replace('new york','New York',inplace=True) # Replace values in a series
df.replace(6, 7) # Replace values in dataframe

### Create Summary Dataframe

Self made function. It return a dataframe which include basic information about passed dataframe. Can be improved in need.

In [30]:
from numpy import nan

def summary_of_df(df):
    summary_data = []
    num_samples = 3
    for column in df.columns:
        count = df[column].count()
        null_count = df[column].isna().sum()
        not_null_count = df[column].notnull().sum()
        unique_count = df[column].nunique()
        data_type = df[column].dtype
        min_value = df[column].min() if pd.api.types.is_numeric_dtype(data_type) else nan
        max_value = df[column].max() if pd.api.types.is_numeric_dtype(data_type) else nan
        mean = df[column].mean() if pd.api.types.is_numeric_dtype(data_type) else nan
        std_dev = df[column].std() if pd.api.types.is_numeric_dtype(data_type) else nan
        mode = df[column].mode()[0] if pd.api.types.is_object_dtype(data_type) else nan
        mode_freq = df[column].value_counts().max() if pd.api.types.is_object_dtype(data_type) else nan
        sample_values = df[column].sample(num_samples).tolist()
        
        summary_data.append([column, count, not_null_count, null_count, unique_count, data_type, min_value,
                             max_value, mean, std_dev, mode, mode_freq, sample_values])
    
    columns = ['column','count','not_nan_count','nan_count','unique_count','dtype',
               'min','max','mean','std_dev','mode','mode_freq','sample_values']
    summary_df = pd.DataFrame(summary_data, columns=columns)

    return summary_df

In [ ]:
summary_df = summary_of_df(df)
summary_df

### Format DateTime

Formatting date time is important in time series analysis.

In [ ]:
df['day'] = pd.to_datetime(df['day'], format='mixed') # format : '%d,%m,%Y' check for other formats

### Fill nan values

In [ ]:
df['windspeed'].fillna(df['windspeed'].mean())

### Group by

In [ ]:
df.groupby('city')['temperature'].mean()

city_group = df.groupby('city')
city_group.get_group('new york')

### Filter a dataframe

Returns a dataframe according to filters

In [ ]:
df[['day','city','event']][(df.event =='sunny') & (df.city == 'new york')]

### Aggregations

In Pandas, series elements can be aggregated by computing statistical measures such as sum, mean, min, max, and count.

In [ ]:
df.groupby('city').agg({'temperature':'mean', 'windspeed':'sum'})

### Apply and lambda funtions

apply : allow the users to pass a function and apply it on every single value of the Pandas series.

In [ ]:
df['temperature_celcius'] = df['temperature'].apply(lambda x: round((x - 32) / (9/5), 1))

### Sort Values

In [ ]:
df.sort_values('temperature', ascending=False) # ascending:False is highest to lowest

### Query

<ins>only works if the column name doesn’t have any empty spaces.</ins>

In [ ]:
df.query('city == "new york" and temperature > 28')

### Melt Function

In [ ]:
pd.melt(df, id_vars=['day','city'], value_vars=['event'])

### Crosstab Function

It’s useful for analyzing the relationship between two categorical variables.

In [ ]:
pd.crosstab(df['city'], df['event'])

### Pivot Table

used to create a pivot table from a DataFrame. A pivot table is a summary of data grouped by one or more columns

In [ ]:
pd.pivot_table(df, index=['city','day'], values=['temperature','windspeed'])

### iloc() and loc() functions

These functions are used to select rows and columns from a DataFrame by index or label. The iloc function is used to select rows and columns by integer-based indexing, while the loc function is used to select rows and columns by label-based indexing.

In [ ]:
df.iloc[4, 1]
df.loc[4,'city'] 
# both functions ouput is 'mumbai'

### Cut function

Returns the specified range within which the value

In [ ]:
pd.cut(x=df['temperature'], bins=[10,20,30,40,50,60,70,80,90])